body {
    margin: 2% auto;
    background: #108dc7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef8e38, #108dc7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.status {
    color: red;
    margin-left: 140px;
}


.box {
    border: 2px solid grey;
    position: relative;
    margin-top: 100px;
    height: 300px;
    background-position: center;
    background: #108dc7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef8e38, #108dc7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 10px 10px 5px black;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbarofhome {
    font-size: large;
    margin-left: 25px;
    font-weight: bolder;
}

#daily {
    display: inline;
    float: right;
}

.tablecontent {
    margin-top: 10%;
    border: 2px solid white;
}

.editbtn {
    float: right
}